subject: PSS

type: cviceni
# type: teorie

# Tato URL (ci vice) exportuje z moodle ve formátu CSV. Lze přitom specifikovat i konkrétní skupinu v moodle:
# (to se nedá vymyslet, to se musí v moodle naklikat, stisknout tlačítko Exportovat a pak tu URL zkopírovat)

csv_export_url: https://moodle.spsejecna.cz/grade/export/txt/index.php?id=155&group=123

csv_export_url:
  - https://moodle.spsejecna.cz/grade/export/txt/index.php?id=155&group=123
  - https://moodle.spsejecna.cz/grade/export/txt/index.php?id=155&group=124
  - https://moodle.spsejecna.cz/grade/export/txt/index.php?id=155&group=125


# Nyní následuje definice úkolů:

# V exportu z moodle se hledá úkol, který v názvu obsahuje "IPv6 konektivita" a na portále pak vznikne známka, která bude mít v popisu "IPv6 konektivita":

"IPv6 konektivita":
    weight: small
    max: 100

# Pokud se liší popis známky na portále a jméno úkolu na moodle, lze to definovat pomocí moodle_name.
# V exportu z moodle se hledá "Nainstalujte hru", ale známka na portálu bude mít popis "Zkompiluj program":

"Zkompilujte program":
    moodle_name: "Nainstalujte hru"
    weight: small
    max: 100

# Úkol může být volitelný. Takový se započítá pouze tehdy, má-li na moodle nějakou známku.

"Routing I.":
    weight: small
    max: 100
    optional: true

# Nedefinovaná známka: pokud úkol nemá žádnou známku na moodle, normálně by z něj vzniklo 'N'. Je však možné
# uvést "N: 5", čímž z takových úkolů bude na portále 5.

"Routing II.":
    weight: small
    max: 100
    N: 5

# Dále existují skupiny úkolů. Z nich na portále vznikne jedna známka (průměrná), která bude mít v popisu "Adresáře a soubory".
# Pokud jediný podúkol bude N, pak celková známka na portále bude N.
# Pokud by měla být celková známka na portále N, lze to ještě změnit pomocí "N: 5" a budou tam pětky.
# Neodevzdaný úkol dostává default_points. Implicitně je nastaveno "default_points: N", takže se to chová jak je popsáno výše.
# Můžu však změnit "default_points: 0", a tudíž se neodevzdané úkoly budou počítat za 0 bodů.
# Default_points lze specifikovat jak pro celou skupinu tak pro konkrétní podúkol.

"Adresáře a soubory":
  weight: big
  default_points: N
  tasks:
    "Základní práce se soubory":
      max: 100
    "Připojte disk":
      max: 100
    "Pohyb mezi adresáři a vytváření souboru":
      max: 5



Příklad: kvůli jedinému neodevzdanému podúkolu bude na portále N (implicitni chovani)

"2. Práce s Linuxem v režimu příkazového řádku, Vzdálená správa":
  weight: small
  tasks:
    "úkol 2.1. Připojte se do svého VPS přes SSH":
     max: 2
    "úkol 2.2. Upravte webovou stránku a proveďte její zálohu ":
     max: 3


Příklad: kvůli jedinému neodevzdanému podúkolu bude na portále 5

"2. Práce s Linuxem v režimu příkazového řádku, Vzdálená správa":
  weight: small
  N: 5
  tasks:
    "úkol 2.1. Připojte se do svého VPS přes SSH":
     max: 2
    "úkol 2.2. Upravte webovou stránku a proveďte její zálohu ":
     max: 3


Příklad: neodevzdané podúkoly se počítají za 0 bodů, na portále bude známka podle průměru

"2. Práce s Linuxem v režimu příkazového řádku, Vzdálená správa":
  weight: small
  default_points: 0
  tasks:
    "úkol 2.1. Připojte se do svého VPS přes SSH":
     max: 2
    "úkol 2.2. Upravte webovou stránku a proveďte její zálohu ":
     max: 3


Příklad: když nebude odevzdán úkol 2.1, bude se počítat jako N (a známka na portále bude tudíž taky N); neodevzdaný úkol 2.2 se však počítá za 0 bodů

"2. Práce s Linuxem v režimu příkazového řádku, Vzdálená správa":
  weight: small
  tasks:
    "úkol 2.1. Připojte se do svého VPS přes SSH":
     max: 2
    "úkol 2.2. Upravte webovou stránku a proveďte její zálohu ":
     default_points: 0
     max: 3


Příklad: když nebude odevzdán úkol 2.1, bude se počítat jako N (ale známka na portále bude 5); neodevzdaný úkol 2.2 se počítá za 0 bodů

"2. Práce s Linuxem v režimu příkazového řádku, Vzdálená správa":
  weight: small
  N: 5
  tasks:
    "úkol 2.1. Připojte se do svého VPS přes SSH":
     max: 2
    "úkol 2.2. Upravte webovou stránku a proveďte její zálohu ":
     default_points: 0
     max: 3 