subject: PSS

type: cviceni
# type: teorie

# Tato URL exportuje z moodle ve formátu CSV. Lze přitom specifikovat i konkrétní skupinu v moodle:
# (to se nedá vymyslet, to se musí v moodle naklikat, stisknout tlačítko Exportovat a pak tu URL zkopírovat)

csv_export_url: https://moodle.spsejecna.cz/grade/export/txt/index.php?id=155&group=123


# Nyní následuje definice úkolů:

# V exportu z moodle se hledá úkol, který v názvu obsahuje "IPv6 konektivita" a na portále pak vznikne známka, která bude mít v popisu "IPv6 konektivita":

"IPv6 konektivita":
    weight: small
    max: 100

# Pokud se liší popis známky na portále a jméno úkolu na moodle, lze to definovat pomocí moodle_name.
# V exportu z moodle se hledá "Nainstalujte hru", ale známka na portálu bude mít popis "Zkompiluj program":

"Zkompilujte program":
    moodle_name: "Nainstalujte hru"
    weight: small
    max: 100

# Úkol může být volitelný. Takový se započítá pouze tehdy, má-li na moodle nějakou známku.

"Routing I.":
    weight: small
    max: 100
    optional: true

# Nedefinovaná známka: pokud úkol nemá žádnou známku na moodle, normálně by z něj vzniklo 'N'. Je však možné
# uvést "N: 5", čímž z takových úkolů bude na portále 5.

"Routing II.":
    weight: small
    max: 100
    N: 5

# Dále existují skupiny úkolů. Z nich na portále vznikne jedna známka (průměrná), která bude mít v popisu "Adresáře a soubory":
# Pokud je ve skupine jediný úkol, který nemá nastaveny žádné body, je výsledek 'N'. Toto lze změnit tak, že se jednotlivým 
# úkolům dá "default", čili defaultní body.

"Adresáře a soubory":
  weight: big
  tasks:
    "Základní práce se soubory":
      default: 0
      max: 100
    "Připojte disk":
      default: 0
      max: 100
    "Pohyb mezi adresáři a vytváření souboru":
      max: 5

