subject: PSS

type: cviceni
# type: teorie

# Tato URL exportuje z moodle ve formátu CSV. Lze přitom specifikovat i konkrétní skupinu v moodle:
# (to se nedá vymyslet, to se musí v moodle naklikat, stisknout tlačítko Exportovat a pak tu URL zkopírovat)
csv_export_url: https://moodle.spsejecna.cz/grade/export/txt/index.php?id=155&group=123

# pokud je ve škole více Janů Nováků, je nutno mapovat id toho správného
user_map:
  "Jan Novák": "novak7"

# Nyní následuje definice úkolů:

# V exportu z moodle se hledá úkol, který v názvu obsahuje "IPv6 konektivita" a na portále pak vznikne známka, která bude mít v popisu "IPv6 konektivita":

"IPv6 konektivita":
    weight: "small"
    max: 100

# Pokud se liší popis známky na portále a jméno úkolu na moodle, lze to definovat pomocí moodle_name.
# V exportu z moodle se hledá "Nainstalujte hru", ale známka na portálu bude mít popis "Zkompiluj program":

"Zkompilujte program":
    moodle_name: "Nainstalujte hru"
    weight: small
    max: 100

# Úkol může být volitelný. Takový se započítá pouze tehdy, má-li na moodle nějakou známku.

"Routing I.":
    weight: small
    max: 100
    optional: true

# Nedefinovaná známka: pokud úkol nemá žádnou známku na moodle, normálně by z něj vznikla 5ka. Je však možné
# uvést "N: true", čímž z takových úkolů bude na portále N.

"Routing II.":
    weight: small
    max: 100
    N: true

# Dále existují skupiny úkolů. Z nich na portále vznikne jedna známka (průměrná), která bude mít v popisu "Adresáře a soubory":

"Adresáře a soubory":
  weight: big
  tasks:
    "Základní práce se soubory":
      max: 100
    "Připojte disk":
      max: 100
    "Pohyb mezi adresáři a vytváření souboru":
      max: 5

